@import "tailwindcss";

@theme {
  /* color pallet */
  --color-primary: #0D1B2A;
  --color-secondry: #1B263B;
  --color-third: #778DA9;
  --color-fourth: #415A77;
  --color-fifth: #16213E;

  --color-custom-dark: #0c0c0c;

  /* font dana */
  --font-dana-reqular: "var(--font-dana-regular)";
  --font-dana-medium: "var(--font-dana-medium)";
  --font-dana-bold: "var(--font-dana-bold)";

  /* font poppins */
  --font-poppins-reqular: "var(--font-poppins-regular)";
  --font-poppins-medium: "var(--font-poppins-medium)";
  --font-poppins-bold: "var(--font-poppins-bold)";
}

* {
  word-spacing: -1px;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

.c_container {
  max-width: 1200px;
  margin: 0 auto;
}
